<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body ng-app="TodoList">
<!--TODOLIST-->
<div ng-controller="MainController">
    <h3>Things I need to Do</h3>
   <div ng-repeat="item in list">
       <li>{{item}}</li>
   </div>
    <input ng-model="addToDo">
    <button ng-click="addItem(toDo.list, addToDo)">Add Item</button>
<!--BOOKS TO BUY-->
    <h3>Books I need to buy</h3>
    <div ng-repeat="book in books.list">
        <li>{{book}}</li>
    </div>

</div>
<!--MODULES-->
    <script src="js/app.js"></script>
<!--MAIN CONTROLLER -->
    <script src="js/controllers/MainController.js"></script>
</body>
</html>